@mixin child {
  @for $i from 1 through 40 {
    :nth-child(#{$i}) {
      left: $i * 10px;
    }
  }
}

#entry {
	@include child;
	position: relative;
}

body {
	color: #000;
	font-family: Helvetica;
	text-align: center;
}
div {
	width: 100%;
	height: auto;
	display: block;
	box-sizing: border-box;
}
p {
    display:inline-block;
    width: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: absolute;
}
.container {
	margin: 10px;
	width: 100%;
	max-width: 990px;
	margin: 0 auto;
}
.half {
	width: 50%;
	display: block;
	margin: 0 auto;
	height: auto;
}
h1 {
	padding: 10px;
}
.buttons {
	margin-top: 33px;
}
.text-animator {
	font-size: 20px;
	font-weight: bold;
	font-family: Arial;
}
input[type="button"] {
	color: #000;
	background-color: #fff;
	border: 1px solid #000;
	box-shadow: 0;
	border-radius: 3px;
	padding: 4px;
	font-size: 1.1em;
}
.bounce {
	-webkit-animation: slideIn 2s linear;
	animation-iteration-count: infinite;
}
.wave {
	-webkit-animation-name: wave;
    -webkit-animation-duration: 2s;
    animation-iteration-count: infinite;
    left: 50px;
}
@keyframes slideIn {
  0%   {top: 20px;}
  50%  {top: 0px;}
  100% {top: 20px;}
}
.fade {
	-webkit-animation: fadeIn 2s linear;
	animation-iteration-count: infinite;
}
@keyframes fadeIn {
	0%   {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes wave {
    0%   {color:red;}
    25%  {color:yellow; }
    50%  {color:blue;}
    75%  {color:green;}
    100% {color:red;}
}